# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#include <iostream>
#include <string>
#include <algorithm>
using namespace std;
 
int main()
{
     
    string s;
    int n,countZ=0,countO=0,found=false;
    cin >> s;
     n=s.size();
   
     for (int i = 0; i < n; i++) {
         if (s[i] == '0') {
             countO++;
 
             if (countO >= 7) {
                 found = true;
                 break;
             }
                
             if (s[i + 1] == '1')
                 countO = 0;
         }
           
         else {
             countZ++;
 
             if (countZ >=7 ) {
                 found = true;
                 break;
             }
               
             if (s[i + 1] == '0')
                 countZ = 0;
         }
            
    }
     if (found)
         cout << "YES";
     else
         cout << "NO";
   
}
